body {
  font-family: "Montserrat", sans-serif;

  header {
    background-color: #191414;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
    z-index: 101;

    .header__container {
      height: 88px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1440px;
      margin: auto;
      width: 80%;

      .header__logo img {
        &:hover {
          transform: scale(1.05);
        }
      }

      .nav__ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        .nav__link {
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: -0.015em;
          color: #ffffff;
          text-decoration: none;
          margin: 0rem 2rem;
          background-image: linear-gradient(currentColor, currentColor);
          background-position: 0% 100%;
          background-repeat: no-repeat;
          background-size: 0% 1px;
          transition: background-size 0.5s;
          &:hover {
            background-size: 100% 1px;
          }
        }
      }

      .redes-sociales__ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        .svg__red-social:hover {
          path {
            fill: #fc4845;
          }
        }

        .svg__red-social--face {
          margin: 0rem 1rem;
          @extend .svg__red-social;
        }
      }
    }

    .header__burger-menu {
      display: none;
    }

    @media only screen and (max-width: 991px) {
      .header__container {
        display: none;
      }

      .header__burger-menu {
        display: block;
        height: 65px;

        .burger-menu__navbar {
          padding: 0;

          .header__logo-burgermenu {
            padding: 0;

            img {
              // para que quede igual esto al .ul__logos-social
              padding: 1rem 0rem;
            }
          }
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          .li__nav-burger {
            padding: 0.6rem 0rem;
            border-top: 0.5px solid;

            .nav__link-burger {
              font-weight: 600;
              font-size: 16px;
              line-height: 20px;
              letter-spacing: -0.015em;
              text-decoration: none;
              color: black;
              background-image: linear-gradient(currentColor, currentColor);
              background-position: 0% 100%;
              background-repeat: no-repeat;
              background-size: 0% 1px;
              transition: background-size 0.5s;
              &:active {
                background-size: 100% 1px;
              }
            }
          }
        }

        .ul__logos-social {
          // para que quede igual que la parte de donde esta el logo de magali .header__logo-burgermenu img
          padding: 1.22rem 0rem;
          border-top: 0.5px solid black;

          .svg__red-social:active {
            path {
              fill: #fc4845;
            }
          }

          .svg__red-social--face {
            margin: 0rem 1rem;
            &:active {
              path {
                fill: #fc4845;
              }
            }
          }
        }
      }
    }
  }

  main {
    max-width: 1440px;
    margin: auto;

    .main__carousel {
      .carousel__img {
        height: 536px;
        object-fit: cover;
      }

      .carousel__text-inner {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(-50%, -50%);
      }
    }

    .main__mi-musica {
      .mi-musica__text {
        font-weight: 800;
        font-size: 35px;
        line-height: 43px;
        letter-spacing: -0.015em;
        color: #fc4845;
        margin: 4rem 0rem 3rem 0rem;
      }

      .mi-musica__youtube {
        h5 {
          font-weight: 600;
        }

        p {
          font-size: 20px;
          line-height: 24px;
          letter-spacing: -0.015em;
        }

        iframe {
          margin-bottom: 1rem;
          width: 100%;
          height: 238px;
        }
      }
    }

    .main__ultimos-temas {
      .ultimos-temas__text {
        font-weight: 800;
        font-size: 35px;
        line-height: 43px;
        letter-spacing: -0.015em;
        color: #fc4845;
        margin: 4rem 0rem 3rem 0rem;
      }

      .ultimos-temas__tema {
        a {
          text-decoration: none;
          font-size: 25px;
          line-height: 30px;
          letter-spacing: -0.015em;
          margin: 1rem 0rem;
          color: black;
        }
      }

      .ultimos-temas__youtube {
        margin: 3rem 0rem;

        a {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: -0.015em;
          color: #ffffff;
          text-decoration: none;
          padding: 0.7rem 3rem;
          background-color: #ff543e;
          border-radius: 6px;
          &:active {
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          }
        }
      }
    }

    /* --------------------------- PARTE de JOE ---------------------------  */
    .third-section {
      background: #191414;
      width: auto;
      .img-bio {
        object-fit: cover;
        width: 400px;
      }
      .mi-biografia {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 35px;
        line-height: 43px;
        align-items: center;
        letter-spacing: -0.015em;
        color: #fc4845;
      }
      .txt-style {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.015em;
        color: #ffffff;
        text-align: justify;
      }
    }

    .txt-contactame {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 35px;
      line-height: 43px;
      align-items: center;
      text-align: center;
      letter-spacing: -0.015em;
      color: #fc4845;
    }
    .target {
      width: auto;
      height: auto;
      background: #000000;

      .circle-white {
        width: 130px;
        height: 130px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #ffffff;
      }

      .nickname {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 129.1%;
        text-align: center;
        letter-spacing: -0.015em;
        color: #ffffff;
        margin-bottom: 50px;
      }
      .target-desc {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 137.32%;
        text-align: center;
        letter-spacing: -0.015em;
        color: #ffffff;
      }
    }

    .numbers {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 45px;
      line-height: 55px;
      letter-spacing: -0.015em;
      color: #fc4845;
    }

    .txt-banner {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.015em;
      color: #000000;
      padding-left: 20px;
      padding-right: 20px;
    }

    @media only screen and (max-width: 760px) {
      .main__carousel {
        .carousel__img {
          height: 232px;
        }

        .carousel__text-inner {
          img {
            width: 60px;
          }
        }
      }

      .main__mi-musica {
        .mi-musica__text {
          font-weight: 800;
          font-size: 30px;
          line-height: 37px;
          letter-spacing: -0.015em;
          margin: 2rem 0rem 1.5rem 0rem;
        }

        .mi-musica__youtube {
          .div__container {
            padding: 0px 24px;

            h5 {
              margin-top: 1rem;
            }

            p {
              font-size: 18px;
              line-height: 22px;
              letter-spacing: -0.015em;
            }

            iframe {
              height: 185.43px;
            }
          }
        }
      }

      .main__ultimos-temas {
        .ultimos-temas__text {
          font-weight: 800;
          font-size: 30px;
          line-height: 37px;
          letter-spacing: -0.015em;
          color: #fc4845;
          margin: 2rem 0rem 1.5rem 0rem;
        }

        .ultimos-temas__tema {
          margin-bottom: 1rem;

          a {
            font-size: 22px;
            line-height: 27px;
            letter-spacing: -0.015em;
            margin: 1rem 0rem;
          }
        }

        .ultimos-temas__youtube {
          margin: 2rem 0rem 3rem 0rem;

          a {
            font-size: 18px;
            line-height: 22px;
            color: #ffffff;
            text-decoration: none;
            padding: 0.6rem 1.5rem;
            background-color: #ff543e;
            border-radius: 6px;
            &:active {
              filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
          }
        }
      }
      .contact-responsive {
        text-align: center;
        .cantautora {
          font-size: 18px;
        }
        .seguime {
          font-size: 16px;
        }
        .socialMedia {
          width: 29, 29px;
        }
        .text-footer {
          font-size: 1px;
        }
      }
      .target {
        width: auto;
        height: auto;
        padding-right: 20px;
        background: #000000;
      }

      .target-desc {
        font-size: 16px;
      }

      .nickname {
        font-size: 18px;
      }
      .svg-logo {
        width: 170px;
      }
      .txt-contactame {
        font-size: 30px;
      }
      .txt-banner {
        font-size: 18px;
        padding-right: 50px;
        padding-left: 50px;
      }
      .datosCuriosos-img {
        width: 40px;
      }
      .txt-style {
        font-size: 18px;
        padding-left: 62px;
        padding-right: 62px;
        text-align: justify;
      }
      .mi-biografia {
        font-size: 30px;
      }
      .img-bio {
        width: 329px;
        margin-bottom: 3rem;
      }

      .seguime {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 129.1%;
        letter-spacing: -0.015em;
        color: #ffffff;
      }
      .text-footer {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 4px;
        line-height: 22px;
        letter-spacing: -0.015em;
        color: #ffffff;
      }
      .socialMedia:hover {
        path {
          fill: #fc4845;
        }
      }
      .margin-top {
        margin-top: 2.5rem;
      }
    }

    .third-section {
      background: #191414;
      width: auto;
      .img-bio {
        object-fit: cover;
        width: 329px;
      }
      .mi-biografia {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 35px;
        line-height: 43px;
        letter-spacing: -0.015em;
        color: #fc4845;
      }
      .txt-style {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.015em;
        color: #ffffff;
      }
    }
  }

  @media only screen and (max-width: 1199px) {
    .main__mi-musica {
      .mi-musica__youtube {
        iframe {
          height: 150px;
        }
      }
    }
  }

  .footer {
    background: #000000;
    display: flex;
    justify-content: center;
    .margin-footer1 {
      margin-top: 2.5rem;
      margin-bottom: 1rem;
    }
    .margin-footer2 {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
    }
    .cantautora {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 129.1%;
      letter-spacing: -0.015em;
      color: #ffffff;
    }
    .seguime {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 129.1%;
      letter-spacing: -0.015em;
      color: #ffffff;
    }
    .text-footer {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 22px;
      letter-spacing: -0.015em;
      color: #ffffff;
    }
    .socialMedia:hover {
      path {
        fill: #fc4845;
      }
    }
    .margin-top {
      margin-top: 2.5rem;
    }
  }

  @media only screen and (max-width: 760px) {
    .footer {
      background: #000000;
      .margin-footer1 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
      .margin-footer2 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
      .cantautora {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 129.1%;
        letter-spacing: -0.015em;
        color: #ffffff;
      }
    }
    .centrando {
      text-align: center;
    }
  }
}
