html {
  font-family: "Montserrat", sans-serif;

  header {
    background-color: #191414;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .header__container {
      height: 5.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav__ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        .nav__link {
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: -0.015em;
          color: #ffffff;
          text-decoration: none;
          margin: 0rem 2rem;
        }
      }

      .redes-sociales__ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        .img__logo-social {
          margin: 0rem 0.5rem;
        }
      }
    }

    .header__burger-menu {
      display: none;
    }

    @media only screen and (max-width: 991px) {
      .header__container {
        display: none;
      }

      .header__burger-menu {
        display: block;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          .li__nav-burger {
            padding: 0.5rem 0rem;
            border-top: 0.5px solid;

            .nav__link-burger {
              font-weight: 600;
              font-size: 16px;
              line-height: 20px;
              letter-spacing: -0.015em;
              text-decoration: none;
              color: black;
            }
          }
        }

        .ul__logos-social {
          padding: 0.5rem 0rem;
          border-top: 0.5px solid;
        }
      }
    }
  }

  main {
    .main__carousel {
      .carousel__img {
        height: 33.5rem;
        object-fit: cover;
      }

      .carousel__text-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        p {
          font-weight: 700;
          font-size: 45px;
          line-height: 55px;
          letter-spacing: -0.015em;
          color: #ffffff;
        }

        img {
          width: 381px;
        }
      }
    }

    .main__mi-musica {
      .mi-musica__text {
        font-weight: 800;
        font-size: 35px;
        line-height: 43px;
        letter-spacing: -0.015em;
        color: #fc4845;
        margin: 4rem 0rem 3rem 0rem;
        text-align: center;
      }

      .mi-musica__container {
        margin-bottom: 4rem;

        p {
          font-size: 20px;
          line-height: 24px;
          letter-spacing: -0.015em;
        }
      }

      .mi-musica__youtube {
        margin: auto;
      }
    }

    .main__ultimos-temas {
      .ultimos-temas__text {
        font-weight: 800;
        font-size: 35px;
        line-height: 43px;
        letter-spacing: -0.015em;
        color: #fc4845;
        margin: 4rem 0rem 3rem 0rem;
      }

      .ultimos-temas__tema {
        p {
          font-size: 25px;
          line-height: 30px;
          letter-spacing: -0.015em;
          margin: 1rem 0rem;
        }
      }

      .ultimos-temas__youtube {
        margin: 3rem 0rem;

        a {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: -0.015em;
          color: #ffffff;
          text-decoration: none;
          padding: 1rem 2rem;
          background-color: #ff543e;
          border-radius: 6px;
          &:active {
            box-shadow: 0 5px 5px rgb(133, 133, 133);
          }
        }
      }
    }

    @media only screen and (max-width: 760px) {
      .main__carousel {
        .carousel__img {
          height: 232px;
        }

        .carousel__text-inner {
          p {
            font-weight: 700;
            font-size: 34px;
            line-height: 40px;
            letter-spacing: -0.015em;
          }

          img {
            width: 122px;
          }
        }
      }

      .main__mi-musica {
        .mi-musica__text {
          font-weight: 800;
          font-size: 30px;
          line-height: 37px;
          letter-spacing: -0.015em;
          margin: 2rem 0rem 1.5rem 0rem;
          text-align: start;
        }

        .mi-musica__container {
          margin-bottom: 2rem;

          .col-md-4 {
            margin-bottom: 1rem;

            p {
              font-size: 18px;
              line-height: 22px;
              letter-spacing: -0.015em;
            }
          }
        }

        .mi-musica__youtube {
          iframe {
            margin-bottom: 1rem;
          }
        }
      }

      .main__ultimos-temas {
        .ultimos-temas__text {
          font-weight: 800;
          font-size: 30px;
          line-height: 37px;
          letter-spacing: -0.015em;
          color: #fc4845;
          margin: 2rem 0rem 1.5rem 0rem;
        }

        .ultimos-temas__tema {
          margin-bottom: 1rem;

          p {
            font-size: 25px;
            line-height: 30px;
            letter-spacing: -0.015em;
            margin: 1rem 0rem;
          }
        }

        .ultimos-temas__youtube {
          margin: 2rem 0rem 3rem 0rem;

          a {
            font-size: 22px;
            line-height: 27px;
            letter-spacing: -0.015em;
            color: #ffffff;
            text-decoration: none;
            padding: 0.6rem 1.2rem;
            background-color: #ff543e;
            border-radius: 6px;
            &:active {
              box-shadow: 0 5px 5px rgb(133, 133, 133);
            }
          }
        }
      }
    }

    // joe
  }
}
